.headerbar{
    position: relative;
    z-index: 100;
    
}
.navbar{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0px !important;
}
 
.navbar > *{
    margin: 5px 20px;
    cursor: pointer;
    color: white;
}
