.navbar {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  display: flex;
  flex-direction: row;
  width: calc(100vw);
  justify-content: center;
  margin: 0px !important;
  z-index: 100;
}

.navbar > * {
  margin: 5px 20px;
  cursor: pointer;
  color: white;
}
